<div></div>
<!-- jQuery -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $.ajax({
        url:"http://ggoreb.com/dinosaur/info.jsp",
        success: function (data){
            var d = data[0].dinosaurs;
            for (var i=0; i< d.length; i++){
                var title = d[i].title;
                var img = d[i].imgs[0]
                $("div").append("<p>"+ title + "</p>");
                // $("div").append("<img src='"+img+"'>")
                // ` back tick
                $("div").append(`<img src='http://ggoreb.com/dinosaur/images/${img}'>`)
            }
        }
    })
</script>>