<!DOCTYPE HTML>
<html>
<head>
   <meta charset="utf-8">
    <script>
        var xmlHttp = new XMLHttpRequest();

        function send() {
            var url = "http://ggoreb.com/ajax/json/data1.jsp";
            xmlHttp.onreadystatechange = callback; 
            xmlHttp.open("GET", url, true);

            xmlHttp.send(null);
        }

        function callback() {
            if(xmlHttp.readyState == 4) {

                if(xmlHttp.status == 200) {
                    temp = xmlHttp.responseText;
                    alert(temp);
                }
            }
        }    
    </script>
</head>

<body>
    <input type="button" value="夸没" onclick="send()">
</body>

</html>