<h1>{{ question.question_text }}</h1>

<!-- action - 폼에 입력되는 정보들이 어디로 전송되어야 하는가?, 
    method - get/post , enctype -->
<!-- <form action="/{{question.id}}/votes/" method="post"> request 헤더에 값 / request body에 값 -->
<form action="{% url 'votes' question.id %}" method="post"> <!-- request 헤더에 값 / request body에 값 -->

    <!-- input, select, textarea -->
    {% csrf_token %}
    <ul>
        {% for choice in question.choice_set.all %}
        <li>
            <input type="radio" name="choice" 
            value="{{choice.id}}" id="{{choice.id}}"> <!-- vlaue에 중복될 가능성 있는 값 x (id는 중복안됨) -->
            <label for="{{choice.id}}">{{ choice.choice_text }}</label>
        </li>
        {% endfor %}
    </ul>
    
    <input type="submit" value="전송">
    <input type="button" value="자스 초기화" id="initialize">
</form>
<form id="frm" action="/polls/{{question.id}}/reset/">
    <input type="submit" value="초기화"/>
</form>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $('[type=button]').click(() => {
        
    });
</script>

<script>
    //                    표현식 css
    document.querySelector('[type=button]')
    .addEventListener('click', function(){
        // 1. GET 방식으로 직접 주소 입력
        // location = '/polls/{{question.id}}/reset/';
        let frm = document.querySelector('#frm')
        frm.submit()
    });
</script>